*{
  /*border: solid 1px black ;*/
  font-family:微軟正黑體;
}

body{
  padding:50px;
  justify-content:center;
  display:flex;
  background-color: rgba(255,238,173,1);
  color:rgba(209,28,22,1);
  font-size:15px;
  line-height:22px;
  letter-spacing: 1px;
  
}
.resume{
  display:flex;
  max-width: 950px;
  border:solid 6px rgba(217,83,79,1) ;
  position: relative;
}

.left, .right {
  padding:15px;
}

.left{
  flex:5;
}
.right{
  flex:5;
  padding-top: 150px;
}



ul{
  padding:0px;
  list-style:none;
}
a{
  color:rgb(86, 13, 38);
  font-weight:bold;
  font-size:18px;
}

h2{
  margin:0px;
  margin-bottom: 25px;
}

h4{
  margin:0px;
  margin-top: 40px;
}

p{
  text-align: justify;  
}

.year li{
  padding-left: 10px;
  margin-left: 20px;
  border-left: solid 2px rgba(217,83,79,1) ;
}

hr{
 background: rgba(217,83,79,1);        
 border: none;        
 height: 5px;
 width: 50%;
 display:relative;
 margin-left: 0px;
}

h2::after{
  content:"";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(217,83,79,1);
  margin-left: 10px;
  border-radius:50%;
}

h2::before{
  content:"Ouo";
}

.decoration{
  width: 300px;
  height: 140px;
  background: linear-gradient(135deg,rgba(255,173,96,1),rgba(217,83,79,1));
  border-radius :70px 0px 0px 70px;
  position: absolute;
  right: 0px;
  top: 50px;
}

.circle{
 width: 50px;
 height: 50px;
 background-color: rgba(217,83,79,0.5) ;
 border-radius: 100%;
 position: relative;
 overflow: hidden;
 
}
.circle::after{
  content:"";
  display: block;
  background-color: rgba(255,173,96,1);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius:50% ;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.p90, .p180, .p270, .p360{
  width: 50% ;
  height: 50% ;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: rgba(217,83,79,1);
}
.p180{
  left:50%;
  top:50%;
}
.p270{
  left:0%;
  top:50%;
}
.p360{
  left: 0%;
  top: 0%;
}

span{
  font-size: 15px;
}

.listLicense .bar{
  width: 70% ;
  height: 10px;
  border: solid 2px rgba(217,83,79,1);
  border-radius: 5px;
}

.value{
  height:100%;
  width: 60%;
  background-color: rgba(217,83,79,1);
}

.value.p70{
  width: 70%;
}

.value.p85{
  width: 85%;
}

.value.p100{
  width: 100%;
}

.value.p95{
  width: 95%;
}

.homeworkk li {
  display: inline-block;
  padding:10px;
  text-align:center;
}